{% load i18n %}


<h5 class="card-title">{% trans 'infoBoxID_1' %}</h5> <!--Translation: Welcome to BBQ GmbH-->
<p class="card-text" style="font-size: 1rem;">{% trans 'infoBoxID_2' %}</p> <!--Translation: Please check in and out to track your time spent at work.-->
<div class="row" style="font-size: 0.8rem">
    <div class="col-md-3">
        {% if arbeitsstunden.last.status %}
        <p class="card-text" ><span class="dot dot_online"></span> Online</p>
        {% else %}
        <p class="card-text"><span class="dot bg-secondary"></span> Offline</p>
        {% endif %}
    </div>
    <div class="col">
        <p class="card-text">{% trans 'infoBoxID_3' %} {{ arbeitsstunden.last.datum|date:"d.m.Y" }} at {{ arbeitsstunden.last.beginn|time:"H:i" }}h</p> <!--Translation: Last check-in:-->
    </div>
</div>
<hr style="margin: 5px 0;">
<div class="row" style="font-size: 0.8rem">
    <div class="col">
        <p class="card-text">{% trans 'infoBoxID_4' %} {{ weekHours }}h</p> <!--Translation: Weekly Hours:-->
    </div>
    <div class="col">
        <p class="card-text">{% trans 'infoBoxID_5' %}</p> <!--Translation: Violations:-->
    </div>
</div>