
<h5 class="card-title">Welcome to BBQ GmbH</h5>
<p class="card-text" style="font-size: 1rem;">Please check in and out to track your time.</p>
<div class="row" style="font-size: 0.8rem">
    <div class="col-md-3">
        {% if arbeitsstunden.last.status %}
        <p class="card-text" ><span class="dot dot_online"></span> Online</p>
        {% else %}
        <p class="card-text"><span class="dot bg-secondary"></span> Offline</p>
        {% endif %}
    </div>
    <div class="col">
        <p class="card-text">Last check-in: {{ arbeitsstunden.last.datum|date:"d.m.Y" }} at {{ arbeitsstunden.last.beginn|time:"H:i" }}h</p>
    </div>
</div>
<hr style="margin: 5px 0;">
<div class="row" style="font-size: 0.8rem">
    <div class="col">
        <p class="card-text">Weekly Hours: {{ weekHours }}h</p>
    </div>
    <div class="col">
        {% if violations %}
        <p class="card-text">Violations: {{ violations }}</p>
        {% else %}
        <p class="card-text">Violations: N/A</p>
        {% endif %}
    </div>
</div>
<div class="row" style="font-size: 0.8rem">
    <div class="col">
        {% if urlaub.last.vertraglicheUrlaubstage %}
        <p class="card-text">Vacation in contract: {{ urlaub.last.vertraglicheUrlaubstage }} Days</p>
        {% else %}
        <p class="card-text">Vacation in contract: N/A</p>
        {% endif %}
    </div>
</div>
<div class="row" style="font-size: 0.8rem">
    <div class="col">
        {% if urlaub.last.sonderurlaub %}
        <p class="card-text">Special leave: {{ urlaub.last.sonderurlaub }} Days</p>
        {% else %}
        <p class="card-text">Special leave: N/A</p>
        {% endif %}
    </div>
</div>
<div class="row" style="font-size: 0.8rem">
    <div class="col">
        {% if urlaub.last.resturlaub %}
        <p class="card-text">Vacation left: {{ urlaub.last.resturlaub }} Days</p>
        {% else %}
        <p class="card-text">Vacation: N/A</p>
        {% endif %}
    </div>
</div>