{% load i18n %}


<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'home'%}">BBQ GmbH - EasyTimer</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        {% if request.user.is_authenticated %}
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home'%}">{% trans 'navbarID_1' %}</a></li> <!--Translation: Capture Time-->
                    <li class="nav-item"><a class="nav-link" href="#contact">{% trans 'navbarID_2' %}</a></li> <!--Translation: Contact-->
                    <!-- Autolink by Tag -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" id="userDropdown">{% trans 'navbarID_3' %} {{ user.first_name }}</a> <!--Translation: Hello-->
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'profile'%}"><i class="fa-solid fa-user text-primary"></i>{% trans 'navbarID_4' %}</a></li> <!--Translation: Profile-->
                            <li><a class="dropdown-item" href="{% url 'changePassword'%}"><i class="fa-solid fa-key text-primary"></i>{% trans 'navbarID_5' %}</a></li> <!--Translation: Change Password-->
                            <li><a class="dropdown-item" href="{% url 'logout'%}"><i class="fa-solid fa-right-from-bracket text-primary"></i>{% trans 'navbarID_6' %}</a></li> <!--Translation: Logout-->
                        </ul>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>