{% extends 'base.html' %}


<!-- Navigation-->


<!-- landing page BBQ GmbH-->
{% block content %}
<header class="masthead">
    <div class="container">
        <div class="form-signin" id="myElement">
            <form id="passwordForm" method="post">
                {% csrf_token %}
                {% if request.user.is_authenticated %}
                    <div class="form-floating">
                        <input type="password" class="form-control rounded" id="old_password" name="old_password" placeholder="Current Password">
                        <label for="currentPassword">Old Password</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control rounded m-0" id="new_password1" name="new_password1" placeholder="New Password">
                        <label for="newPassword">New Password</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control rounded" id="new_password2" name="new_password2" placeholder="Confirm New Password">
                        <label for="confirmNewPassword">Confirm New Password</label>
                    </div>
                
                    <button class="w-100 btn btn-lg btn-primary" type="submit" >Change Password</button>
                {% endif %}
                    
            </form>
        </div>
        <div class="alert_message"></div>
        {% if form.errors %}
            <div class="card" style="display: block;">
                <div class="card-body">
                    <div class="text-center" id="message">
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <p>{{ field }}: {{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
</header>
{% endblock content %}

<!-- Contact-->

<!-- Footer-->

<!-- extra scripts -->
{% block extra_js_bottom %}
<!-- error message-->
<script>
    let errors = JSON.parse('{{ form.errors|escapejs|safe }}');
    document.querySelector('form').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent the form from submitting

    if (Object.keys(errors).length > 0) {
        document.querySelector('.card').style.display = 'block';
        
        let message = '';
        for (let field in errors) {
        message += field + ': ' + errors[field].join(', ') + '<br>';
        }
        document.getElementById('message').innerHTML = message;
    } else {
        document.querySelector('form').submit();
    }
    });
</script>
{% endblock extra_js_bottom %}

