{% extends 'base.html' %}
{% load static %}


<!--Head-->
{% block extra_css %}
<link href="{% static 'bbq_gmbh_app/css/signin.css'%}" rel="stylesheet" />
{% endblock extra_css %}

<!-- Navigation-->


<!-- landing page BBQ GmbH-->
{% block content %}
<header class="masthead">
    <div class="container">
        <div class="form-signin" id="myElement">
            <form id="passwordForm" method="post">
                {% csrf_token %}
                {% if request.user.is_authenticated %}
                    <div class="form-floating">
                        <input type="password" class="form-control rounded" id="old_password" name="old_password" placeholder="Current Password" required>
                        <label for="currentPassword">Old Password</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control rounded m-0" id="new_password1" name="new_password1" placeholder="New Password" required>
                        <label for="newPassword">New Password</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control rounded" id="new_password2" name="new_password2" placeholder="Confirm New Password" required>
                        <label for="confirmNewPassword">Confirm New Password</label>
                    </div>
                
                    <button class="w-100 btn btn-lg btn-primary" type="submit" >Change Password</button>
                {% endif %}
                    
            </form>
        </div>
        <div class="alert_message"></div>
        {% if form.errors %}
            <div class="card" style="display: block;">
                <div class="card-body">
                    <div class="text-center" id="message">
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <p>{{ field }}: {{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
</header>
{% endblock content %}

<!-- Contact-->

<!-- Footer-->

<!-- extra scripts -->
{% block extra_js_bottom %}
<script src="{% static "bbq_gmbh_app/js/log.js" %}"></script>
{% endblock extra_js_bottom %}

