{% extends 'base.html' %}
{% load static %}
{% load i18n %}

<!-- Navigation-->

<!-- landing page BBQ GmbH-->
{% block content %}

<header class="masthead">
    <div class="container">
        <div class="card_empl_mng">
            <div class="card" id="myElement">
                <div class="card-body">
                    <div class="container mt-3">
                        <div class="header_text">
                          <p class="link"><i class="fa-solid fa-user" style="color: #63E6BE;"></i>{% trans 'createUserID_1' %}</p> <!--Translation: Employee Management-->
                          <p class="link">{% trans 'createUserID_2' %}</p> <!--Translation: Create new employee for EasyTimer-->
                        </div>
                        <br>

                        <form class="row g-3" action="/createUser/" method="post" style="max-height: 50vh; overflow: auto;">
                          {% csrf_token %}
                          <div class="col-md-6">
                            <label for="first_name" class="form-label">{% trans 'createUserID_3' %}<span style="color: red;">*</span></label> <!--Translation: First Name-->
                            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ userForm.first_name.value|default:'' }}" placeholder="E.g John" required>
                          </div>
                          <div class="col-md-6">
                            <label for="last_name" class="form-label">{% trans 'createUserID_4' %}<span style="color: red;">*</span></label> <!--Translation: Last Name-->
                            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ userForm.last_name.value|default:'' }}" placeholder="E.g Wick" required>
                          </div>
                          <div class="col-md-6">
                            <label for="email" class="form-label">{% trans 'createUserID_5' %}<span style="color: red;">*</span></label> <!--Translation: Business Email-->
                            <input type="email" class="form-control" id="email" name="email" value="{{ userForm.email.value|default:'' }}" placeholder="E.g john.wick@bbq.de" required>
                          </div>
                          <div class="col-md-6">
                            <label for="password1" class="form-label">{% trans 'createUserID_6' %}<span style="color: red;">*</span></label> <!--Translation: Password-->
                            <input type="password" class="form-control" id="password1" name="password1" value="{{ userForm.password1.value|default:'' }}" required>
                          </div>
                          <div class="col-md-6"></div>
                          <div class="col-md-6">
                            <label for="password2" class="form-label">{% trans 'createUserID_7' %}<span style="color: red;">*</span></label>  <!--Translation: Repeat Password-->
                            <input type="password" class="form-control" id="password2" name="password2" value="{{ userForm.password2.value|default:'' }}" required>
                          </div>                                  
                          <div class="col-6">
                            <label for="strasse" class="form-label">{% trans 'createUserID_8' %}<span style="color: red;">*</span></label> <!--Translation: Address-->
                            <input type="text" class="form-control" id="strasse" name="strasse" placeholder="E.g MainSt 1234" value="{{ adresseForm.strasse.value|default:'' }}" required>
                          </div>
                          <br>
                          <div class="col-md-6">
                            <label for="stadt" class="form-label">{% trans 'createUserID_9' %}<span style="color: red;">*</span></label> <!--Translation: City-->
                            <input type="text" class="form-control" id="stadt" name='stadt' value="{{ adresseForm.stadt.value|default:'' }}" placeholder="E.g Berlin" required>
                          </div>
                          <div class="col-md-4">
                            <label for="land" class="form-label">{% trans 'createUserID_10' %}<span style="color: red;">*</span></label> <!--Translation: Country-->
                            <select id="land" class="form-select" name="land" required>
                              {% for country_code, country_name in adresseForm.fields.land.choices %}
                                  <option value="{{ country_code }}" {% if adresseForm.land.value == country_code %}selected{% endif %}>
                                      {{ country_name }}
                                  </option>
                              {% endfor %}
                          </select>
                          </div>
                          <div class="col-md-2">
                            <label for="plz" class="form-label">{% trans 'createUserID_11' %}<span style="color: red;">*</span></label> <!--Translation: Zip-->
                            <input type="text" class="form-control" id="plz" name="plz" value="{{ adresseForm.plz.value|default:'' }}" placeholder="E.g 12345" required>
                          </div>

                          <div class="col-md-2">
                            <label for="birthday" class="form-label">{% trans 'createUserID_12' %}<span style="color: red;">*</span></label> <!--Translation: Date of Birth-->
                            <input type="date" class="form-control" id="birthday" name="birthday" value="{{ userForm.birthday.value|date:'Y-m-d' }}" required>
                          </div>
                          <div class="col-md-2">
                            <label for="gender" class="form-label">{% trans 'createUserID_13' %}<span style="color: red;">*</span></label> <!--Translation: Gender-->
                            <select id="gender" class="form-select" name="gender" required>
                              {% for value, display in userForm.fields.gender.choices %}
                                <option value="{{ value }}">{{ display }}</option>
                              {% endfor %}
                            </select>
                          </div>
                          <div class="col-md-6"></div>

                          <div class="col-md-8">
                            <label for="inputPosition" class="form-label">{% trans 'createUserID_14' %}</label> <!--Translation: Job title-->
                            <input type="text" class="form-control" id="inputPosition">
                          </div>
                          <div class="col-md-2">
                            <label for="inputDepartment" class="form-label">{% trans 'createUserID_15' %}</label> <!--Translation: Department-->
                            <select id="inputDepartment" class="form-select">
                              <option selected>{% trans 'createUserID_16' %}...</option> <!--Translation: Choose-->
                            </select>
                          </div>
                          <div class="col-md-2"></div>

                          <div class="col-md-2">
                            <label for="inputSalaryGroup" class="form-label">{% trans 'createUserID_17' %}</label> <!--Translation: Salary group-->
                            <select id="inputSalaryGroup" class="form-select">
                              <option selected>{% trans 'createUserID_18' %}...</option> <!--Translation: Choose-->
                            </select>
                          </div>
                          <div class="col-md-2">
                            <label for="inputVacation" class="form-label">{% trans 'createUserID_19' %}<span style="color: red;">*</span><i class="fa-solid fa-circle-info" style="color: #74C0FC;" data-bs-toggle="tooltip" title="{% trans 'createUserID_23' %}"></i></label> <!--Translation: CAGV--><!--Translation: contractually agreed vacation days-->
                            <select id="vertraglicheUrlaubstage" class="form-select" name="vertraglicheUrlaubstage" required>
                              {% for value, display in urlaubForm.fields.vertraglicheUrlaubstage.choices %}
                                <option value="{{ value }}">{{ display }}</option>
                              {% endfor %}
                            </select>
                          </div>
                          <div class="col-md-2">
                            <label for="wochenarbeitszeit" class="form-label" >{% trans 'createUserID_20' %}<span style="color: red;">*</span><i class="fa-solid fa-circle-info" style="color: #74C0FC;" data-bs-toggle="tooltip" title="{% trans 'createUserID_24' %}"></i></label> <!--Translation: HR/W--><!--Translation: working hours per week-->
                            <select id="wochenarbeitszeit" class="form-select" name="wochenarbeitszeit" required>
                              {% for value, display in userForm.fields.wochenarbeitszeit.choices %}
                                <option value="{{ value }}">{{ display }}</option>
                              {% endfor %}
                            </select>
                          </div>
                          <div class="col-md-2">
                            <label for="inputRole" class="form-label">{% trans 'createUserID_21' %}<span style="color: red;">*</span></label> <!--Translation: Role-->
                            <select id="inputRole" class="form-select" name="role" required>
                              {% for value, display in userForm.fields.role.choices %}
                                <option value="{{ value }}">{{ display }}</option>
                              {% endfor %}
                            </select>
                          </div>

                          <div class="col-12" style="text-align: right;">
                            <button type="submit" class="btn btn-primary">{% trans 'createUserID_22' %}</button> <!--Translation: Create User-->
                          </div>
                        </form>
                    </div>
                </div>
              </div>
        </div>
        <div class="alert_message"></div>
          {% if userForm.errors or adresseForm.errors %}
            <div class="card">
              <div class="card-body">
                <div class="text-center" id="message">
                  <div id="form-errors">
                    {% for field, errors in userForm.errors.items %}
                        <p>{{ errors|first|upper }}</p>
                    {% endfor %}
                    {% for field, errors in adresseForm.errors.items %}
                        {{ errors|first|upper }} : {{ field|upper }} 
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
    </div> <!-- end container -->
</header>
{% endblock content %}

<!-- Contact-->

<!-- Footer-->

<!-- extra scripts -->
{% block extra_js_bottom %}
<script src="{% static 'bbq_gmbh_app/js/toolTip.js' %}"></script>
{% endblock extra_js_bottom %}

