{% extends 'base.html' %}
{% load static %}
{% load i18n %}
<!-- Navigation-->



<!-- landing page BBQ GmbH-->
{% block content %}
<header class="masthead">
    <div class="container">
        <div class="card_empl_mng">
            <div class="card" id="myElement">
                <div class="card-body">
                    <div class="container mt-3">
                      <div class="header_text">
                        <p class="link"><i class="fa-solid fa-user" style="color: #63E6BE;"></i>{% trans 'employeeManagementID_1' %}</p> <!--Translation: Employee Management-->
                        <p class="link">{% trans 'employeeManagementID_2' %}</p> <!--Translation: Employees in EasyTimer-->
                      </div>
                        <div class="row">
                          <div class="col-md-8"></div>
                          <div class="col-md-4">
                            <div class="input-group">
                              <input type="search" class="form-control rounded" placeholder="{% trans 'employeeManagementID_13' %}" aria-label="Search" aria-describedby="search-addon" /> <!--Translation: search-->
                              <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init>{% trans 'employeeManagementID_3' %}</button> <!--Translation: search-->
                            </div>
                          </div>
                        </div>
                        <br>
                        
                        <div class="table-responsive" style="max-height: 40vh; overflow: auto;"> <!--You have set a limit to the card-->
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th style="position: sticky; top: 0; background: white;">{% trans 'employeeManagementID_4' %}</th> <!--Translation: Employee Id-->
                                <th style="position: sticky; top: 0; background: white;">{% trans 'employeeManagementID_5' %}</th> <!--Translation: Firstname-->
                                <th style="position: sticky; top: 0; background: white;">{% trans 'employeeManagementID_6' %}</th> <!--Translation: Lastname-->
                                <th style="position: sticky; top: 0; background: white;">{% trans 'employeeManagementID_7' %}</th> <!--Translation: Birthday-->
                                <th style="position: sticky; top: 0; background: white;">{% trans 'employeeManagementID_8' %}</th> <!--Translation: Gender-->
                                <th style="position: sticky; top: 0; background: white;">{% trans 'employeeManagementID_9' %}</th> <!--Translation: Country-->
                                <th style="position: sticky; top: 0; background: white;">{% trans 'employeeManagementID_14' %}</th> <!--Translation: Last Online-->
                                <th style="position: sticky; top: 0; background: white;">{% trans 'employeeManagementID_15' %}</th> <!--Translation: Status-->
                              </tr>
                            </thead>
                            <tbody>
                              {% if request.user.is_authenticated %}
                                {% for user in users %}
                                  <tr data-href="{% url 'userDetail' user.id %}">
                                    {% if user.is_active or role %}
                                      <td>{{ user.id }}</td>
                                      <td>{{ user.first_name }}</td>
                                      <td>{{ user.last_name }}</td>
                                      <td>{{ user.birthday }}</td>
                                      <td>{{ user.gender }}</td>
                                      <td>{{ user.adresse.land.name }}</td>
                                      {% if user.arbeitsstunden_set.last.datum %}
                                        <td>{{ user.arbeitsstunden_set.last.datum|date:"d.m.Y" }} {% trans 'employeeManagementID_16' %} {{ user.arbeitsstunden_set.last.beginn|time:"H:i" }}{% trans 'employeeManagementID_17' %}</td> <!--Translation: at--><!--Translation: h-->
                                      {% else %}
                                        <td>No data available</td>
                                      {% endif %}
                                      {% if user.arbeitsstunden_set.last.status %}
                                        <td style="text-align: center; vertical-align: middle;"><span class="dot dot_online"></span></td>
                                      {% else %}
                                        <td style="text-align: center; vertical-align: middle;"><span class="dot bg-secondary"></span></td>
                                      {% endif %}
                                    {% else %}

                                    {% endif %}
                                      
                                  </tr>
                                  {% empty %}
                                  <tr>
                                      <td colspan="8">{% trans 'employeeManagementID_10' %}</td> <!--Translation: No data available-->
                                  </tr>
                                {% endfor %}
                              {% else %}
                                <tr>
                                    <td colspan="8">{% trans 'employeeManagementID_11' %}</td> <!--Translation: No data available-->
                                </tr>
                              {% endif %}
                            </tbody>
                          </table>
                        </div>

                        <div style="text-align: right; margin-top: 1%;">
                          <a href="{% url 'createUser' %}" class="btn btn-primary">{% trans 'employeeManagementID_12' %}</a> <!--Translation: Create User-->
                        </div>

                      </div>
                </div>
              </div>
        </div>
    </div>
</header>
{% endblock content %}

<!-- Contact-->

<!-- Footer-->


<!--extra js-->

<!--extra js bottom-->
{% block extra_js_bottom %}
<!-- These two scripts are used for the search function clickable rows and live search  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static "bbq_gmbh_app/js/search.js" %}"></script>
{% endblock extra_js_bottom %}

