{% extends 'base.html' %}
{% load static %}
{% load i18n %}
<!-- display the time in 24-hour format, with a leading zero for hours less than 10 -->
{% load tz %}

<!-- Navigation-->


<!-- landing page BBQ GmbH-->
{% block content %}
<header class="masthead">
    <div class="container">

        <div class="content_top " id="capture_time">
            <div class="row">
                <div class="col-md-8">
                    <div class="card"  id="myElement">
                        <div class="card-body">
                            <div class="header_text">
                                <p class="link"><i class="fa-solid fa-clock" style="color: #63E6BE;"></i>{% trans 'homeID_1' %}</p> <!--Translation: Capture Time-->
                                <p class="link">{% trans 'homeID_2' %}</p> <!--Translation: Track your time spent-->
                            </div>
                            <div class="time_container row">
                                <div class="week_day col-12">
                                    <span id="weekday">{% trans 'homeID_3' %}</span> <!--Translation: Weekday-->
                                </div>

                                <div class="system_date col-md-6">
                                    <span id="day">00</span>
                                    <span>:</span>
                                    <span id="month">00</span>
                                    <span>:</span>
                                    <span id="year">00</span>
                                </div>
                                
                                <div class="clock col-md-6">
                                    <span id="hrs">00</span>
                                    <span>:</span>
                                    <span id="min">00</span>
                                    <span>:</span>
                                    <span id="sec">00</span>
                                    <span>h</span>
                                </div>
                            </div>
                            
                            
                            <div class="capture_button">
                                {% csrf_token %}
                                <input type="hidden" id="csrfToken" value="{{ csrf_token }}">
                                <div class="col-md-6 d-flex justify-content-center align-item-center">
                                    <button type="button" class="btn btn-primary" id="checkin">{% trans 'homeID_4' %}</button> <!--Translation: Check In-->
                                </div>
                                <div class="col-md-6 d-flex justify-content-center align-item-center">
                                    <button type="button" class="btn btn-danger" id="checkout">{% trans 'homeID_5' %}</button> <!--Translation: Check Out-->
                                </div>                        
                            </div>

                            
                        </div>
                    </div>
                </div>
                <!-- infobox -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body" id="infobox">
                            {% include 'bbq_gmbh_app/_infoBox.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Alert message -->
        <div class="row">
            <div class="col-md-12">
                <div class="alert_message">
                    <div class="card alert alert-dismissible fade show" role="alert" style="display: none;">
                        <div class="card-body" style="padding: 0.0rem">
                            <div class="text-center" id="message"></div>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Time Table -->
        <div class="row">
            <div class="col-md-12">
                <div class="card" id="myElement">
                    <div class="card-body">
                        <div class="container mt-3">
                        <div class="header_text">
                            <p class="link"><i class="fa-solid fa-user" style="color: #63E6BE;"></i> {% trans 'homeID_6' %}</p> <!--Translation: Time Table-->
                            <p class="link">{% trans 'homeID_7' %}</p> <!--Translation: EasyTimer-->
                        </div>
                            <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="search" class="form-control rounded" placeholder="{% trans 'homeID_15' %}" aria-label="Search" aria-describedby="search-addon" /> <!--Translation: search-->
                                    <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init>{% trans 'homeID_8' %}</button> <!--Translation: search-->
                                </div>
                            </div>
                            </div>
                            <br>
                            
                            <div class="table-responsive" style="max-height: 30vh; overflow: auto;"> <!--You have set a limit to the card-->
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th style="position: sticky; top: 0; background: white;">{% trans 'homeID_9' %}</th>  <!--Translation: Date-->
                                    <th style="position: sticky; top: 0; background: white;">{% trans 'homeID_10' %}</th> <!--Translation: Check In-->
                                    <th style="position: sticky; top: 0; background: white;">{% trans 'homeID_11' %}</th> <!--Translation: Check Out-->
                                    <th style="position: sticky; top: 0; background: white;">{% trans 'homeID_12' %}</th> <!--Translation: Break-->
                                    <th style="position: sticky; top: 0; background: white;">{% trans 'homeID_16' %}</th> <!--Translation: Min.Hours-->
                                    <th style="position: sticky; top: 0; background: white;">{% trans 'homeID_17' %}</th> <!--Translation: Avg.Hours-->
                                    <th style="position: sticky; top: 0; background: white;">{% trans 'homeID_18' %}</th> <!--Translation: Is-->
                                    <th style="position: sticky; top: 0; background: white;">{% trans 'homeID_14' %}</th> <!--Translation: Overtime-->

                                </tr>
                                </thead>
                                <tbody id="table_body">
                                    <!-- This is handling the time view of the user -->
                                    {% include "bbq_gmbh_app/_timeTable.html" %}
                                </tbody>
                            </table>
                            </div>
        
        
                        </div>
                    </div>
                </div>
            </div>
        </div>


        
        
        


        


    </div>
</header>
{% endblock content %}

<!-- Contact-->


<!-- Footer-->

<!-- extra scripts bottom -->
{% block extra_js_bottom %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script><!-- This script is handling the search function clickable rows and live search  -->
<script src="{% static "bbq_gmbh_app/js/search.js" %}"></script>
<script src="{% static 'bbq_gmbh_app/js/clock.js' %}"></script>
<script src="{% static 'bbq_gmbh_app/js/tracker.js' %}"></script>
{% endblock extra_js_bottom %}

