{% extends 'base.html' %}

<!-- Navigation-->


<!-- landing page BBQ GmbH-->
{% block content %}
<header class="masthead">
    <div class="container">
        <div class="capture_time" id="capture_time">
            <div class="mt-4 p-3 bg-light text-black rounded"  id="myElement">
                <div class="header_text">
                    <p class="link"><i class="fa-solid fa-clock" style="color: #63E6BE;"></i> Capture Time</p>
                    <p class="link">Track your time spent</p>
                </div>
                <div class="time_container">
                    <div class="week_day">
                        <span id="weekday">Weekday</span>
                    </div>
                    <div class="system_date">
                        <span id="day">00</span>
                        <span>:</span>
                        <span id="month">00</span>
                        <span>:</span>
                        <span id="year">00</span>
                    </div>
                    <div class="clock">
                        <span id="hrs">00</span>
                        <span>:</span>
                        <span id="min">00</span>
                        <span>:</span>
                        <span id="sec">00</span>
                        <span>h</span>
                    </div>
                </div>
                <hr class="separator">
                <div class="container">
                    <div class="capture_button">
                        <button type="button" class="btn btn-primary" id="checkin">Check In</button>
                        <button type="button" class="btn btn-danger" id="checkout">Check Out</button>                            
                    </div>

                </div>
            </div>
        </div>
        <div class="alert_message">
            <div class="card" style="display: none;">
                <div class="card-body">
                    <div class="text-center" id="message"></div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock content %}

<!-- Contact-->


<!-- Footer-->

<!-- Clock -->
{% block extra_js %}
<script>
    // Systemdatum
    let day = document.getElementById("day");
    let weekday = document.getElementById("weekday");
    let month = document.getElementById("month");
    let year = document.getElementById("year");
    // Systemuhrzeit
    let hrs = document.getElementById("hrs");
    let min = document.getElementById("min");
    let sec = document.getElementById("sec");
    let currentDate
    let currentTime
    

    // setInterval(() => {
        currentDate = new Date();

        let dayOfMonth = currentDate.getDate();
        let dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        let dayOfWeek = dayNames[currentDate.getDay()]; 
        let currentMonth = currentDate.getMonth() + 1;
        let currentYear = currentDate.getFullYear();

        // logic for numbers smaller 10
        dayOfMonth = (dayOfMonth < 10) ? '0' + dayOfMonth : dayOfMonth;
        currentMonth = (currentMonth < 10) ? '0' + currentMonth : currentMonth;

        day.innerHTML = dayOfMonth;
        weekday.innerHTML = dayOfWeek;
        month.innerHTML = currentMonth;
        year.innerHTML = currentYear;

    // }, 1000);



    setInterval(()=>{
        currentTime = new Date();

        let hours = currentTime.getHours(); 
        let minutes = currentTime.getMinutes();
        let seconds = currentTime.getSeconds();

        // logic numbers smaller 10
        hours = (hours < 10) ? '0' + hours : hours;
        minutes = (minutes < 10) ? '0' + minutes : minutes;
        seconds = (seconds < 10) ? '0' + seconds : seconds;

        hrs.innerHTML = hours;
        min.innerHTML = minutes;
        sec.innerHTML = seconds;

    },1000)

    // logic for checkin with message and database
    // Check-in button
    // this is handling holidays, messages and the checkin time
    document.getElementById('checkin').addEventListener('click', function() {
        fetch('/checkHolidays/')
        .then(response => response.json())
        .then(data => {
            if (data.non_working_day) {
                document.getElementById('message').textContent = 'Check-in is not allowed on public holidays. Enjoy your day off!';
                var card = document.querySelector('.card');
                card.style.display = 'block'; // Show the card and store it in a variable
                card.classList.add('bg-danger'); // Add the 'bg-danger' class to the card
                // Here you can add the code to actually change the password                    
            } else {
                var date = currentDate.getDate()+'-'+(currentDate.getMonth()+1)+'-'+currentDate.getFullYear();
                var time = currentTime.getHours() + ":" + currentTime.getMinutes();
                document.getElementById('message').textContent = 'Have a nice day at work. ' + date + ' ' + time;
                var card = document.querySelector('.card');
                card.style.display = 'block'; // Show the card and store it in a variable
                card.classList.add('bg-success');
                
            }
        });
    });


</script>
{% endblock extra_js %}

